<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlintutorial">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:name="kotlinFlow.FlowActivity"
            android:exported="false" />
        <activity
            android:name="daggerTutorial.SampleActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="firebase.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <service android:name="firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="multiThreading.MultiThreadingActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="RXJava.RXJavaActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="workManager.WorkManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <service android:name="services.MusicPlayerService" />

        <activity
            android:name="services.ServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="movies.view.MoviesActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Activity3"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".RandomNumberActivity"
            android:persistableMode="persistAcrossReboots"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="lifecycle.activities.launchModes.FirstActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="lifecycle.activities.launchModes.SecondActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" /> <!-- android:theme="@style/Theme.AppCompat.Translucent" /> -->
        <activity
            android:name="lifecycle.activities.launchModes.ThirdActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="lifecycle.activities.launchModes.FourthActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>