<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlintutorial">

    <application android:name=".AppClassForComponent">
        <activity
            android:name=".DaggerSample2Activity"
            android:exported="false" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activity3"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="DaggerSampleActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
    </application>

</manifest>